/* 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    CONFIGURAÇÃO DO SIDEBAR
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.bg-redeph {
    background-color: #f38022;
}

.bg-redeph-dark {
    background-color: #8f1838;
}

.back-white {
    background-color: #fafafa;
}

.color-white {
    color: #fafafa;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.navbar-container {
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #f39822;
    color: #8f1838;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f38022;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e6781f;
}

#sidebar ul p {
    color: #8f1838;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #f39822;
    background: #8f1838;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #8f1838;
    background: #f38022;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f38022;
}

#searchbar {
    padding: 0 10px;
}

#sidebar-links {
    padding-bottom: 20px;
}

.busca-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.btn-redeph-search{color:#8f1838;background-color:transparent;background-image:none;border-color:#8f1838}
.btn-redeph-search:hover{color:#fff;background-color:#8f1838;border-color:#8f1838}
.btn-redeph-search:focus{box-shadow:0 0 0 .2rem #8f183883}

/* 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    CONFIGURAÇÃO DO CONTEUDO
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

#content-container {
    height: 100%;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#content {
    min-height: 100%;
	position: relative;
} 

#customers {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }
  
  /* #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  } */
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}

  th,
  td {
    padding: 0.75rem;
    border-bottom: 1px solid #8f1838;
  }

  th {
    color: #8f1838;
    text-transform: uppercase;
    text-align: left;
  }

  td {
    font-size: 0.875rem;
  }

  footer {
    bottom: 0px;
    flex: auto;
    width: 100%;

    align-items: center;
    justify-content: center;

    text-align: center;
  }

  div.body-content{
    /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
      padding-bottom: 100px;
      min-width: 100%;
  }

  .footer {
      display: flex;
  }

  .tabela-inventario {
    height: 100%;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .icon-buttom-warning {
      border-radius: 5px 0 0 5px;
      border-style: solid;
      border-color: #ffc107;
      border-width: 2px;
      padding: 0 10px;
      color: #ffc107;
  }

  .icon-buttom-primary {
      border-radius: 5px 0 0 5px;
      border-style: solid;
      border-color: #0d6efd;
      border-width: 2px;
      padding: 0 10px;
      color: #0d6efd;
  }

  .icon-buttom-danger {
      border-radius: 5px 0 0 5px;
      border-style: solid;
      border-color: #dc3545;
      border-width: 2px;
      padding: 0 10px;
      color: #dc3545;
  }

  h4 {
      color: #000;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
  }


  /* -=-=-=-=-=-=-=-=-=-=
     Configuração Print
   -=-=-=-=-=-=-=-=-=-=-=*/

   @media print {
    .noprint {
        display: none;
    }
    .print{
        display: flex;
    }
}